parameters:
  external_network_name: The network to use for external access. Floating IPs 
    will use this network
  nameserver_ip1: IP address of first name server to use
  nameserver_ip2: IP address of second name server to use
  public_key: public key for access
  ssh_password: temporary password for testing - allow access vi OS console
  test_port: non standard port for testing proxy (e.g. 8080)
